@media screen and ( min-width : 700px ) {

  body {
    background-color: #7e1a20;
    background-image: url('./Images/bricks-texture.png');

  }

  .App-logo {
    height: 20vmin;
    pointer-events: none;
  }

  .logo-login {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
    justify-content: center;
    min-height: 90vh;
  }

  .form-login {
    background-color: #ecd045;
    background-image: url('./Images/bricks-texture3.png');
    background-size: contain;
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }

  .input-login {
    background-color: antiquewhite;
    border-radius: 5px;
    font-family: Cambria , Cochin , Georgia , Times , Times New Roman , serif;
    font-size: 17px;
    margin-left: 5px;
    padding: 5px;
    width: 250px;
  }

  .label-login {
    font-family: Cambria , Cochin , Georgia , Times , Times New Roman , serif;
    font-size: larger;
  }

  .button-config {
    background-color: rgba(254, 255, 255, 0.692);
    border-color: rgb(224, 230, 230);
    border-radius: 5px;
    font-family: Cambria , Cochin , Georgia , Times , Times New Roman , serif;
    font-size: 17px;
    padding: 8px;
  }

  .button-config:hover {
    background-color: white;
  }

  .button-login {
    border-color: rgb(224, 230, 230);
    border-radius: 5px;
    font-family: Cambria , Cochin , Georgia , Times , Times New Roman , serif;
    font-size: 17px;
    padding: 8px;
  }
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
